<div class="login-card">
  <div class="login-card-header">
    <h1>{{ formTitle }}</h1>
  </div>
  <form [formGroup]="form" formType="" class="login-card-form">
    <div class="form-item frm-row" *ngIf="formType === 'otp'">
      <div class="frm-col">
        <input
          type="text"
          #txt1
          maxlength="1"
          formControlName="txt1"
          autofocus
          (keyup)="handleKeyUp($event, '', txt1, txt2)"
        />
      </div>
      <div class="frm-col">
        <input
          type="text"
          #txt2
          maxlength="1"
          formControlName="txt2"
          (keyup)="handleKeyUp($event, txt1, txt2, txt3)"
        />
      </div>
      <div class="frm-col">
        <input
          type="text"
          #txt3
          maxlength="1"
          formControlName="txt3"
          (keyup)="handleKeyUp($event, txt2, txt3, txt4)"
        />
      </div>
      <div class="frm-col">
        <input
          type="text"
          #txt4
          maxlength="1"
          formControlName="txt4"
          (keyup)="handleKeyUp($event, txt3, txt4, txt5)"
        />
      </div>
      <div class="frm-col">
        <input
          type="text"
          #txt5
          maxlength="1"
          formControlName="txt5"
          (keyup)="handleKeyUp($event, txt4, txt5, txt6)"
        />
      </div>
      <div class="frm-col">
        <input
          type="text"
          #txt6
          maxlength="1"
          formControlName="txt6"
          (keyup)="handleKeyUp($event, txt5, txt6, '')"
        />
      </div>
    </div>

    <div class="btn-container">
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!form.valid"
        (click)="handleSubmit()"
      >
        Submit
      </button>
    </div>
  </form>
</div>
