<div class="multistep-form-container mt-4 top-border">
  <ul class="progress-bar">
    <li
      [ngClass]="
        formStep === '1' ? 'active step-indicator' : 'inactive step-indicator'
      "
    >
      Method
    </li>
    <li
      [ngClass]="
        formStep === '2' ? 'active step-indicator' : 'inactive step-indicator'
      "
    >
      Confirm
    </li>
    <li
      [ngClass]="
        formStep === '3' ? 'active step-indicator' : 'inactive step-indicator'
      "
    >
      Complete
    </li>
  </ul>

  <form [formGroup]="methodStep" class="form-col" id="multistep-form">
    <fieldset *ngIf="formStep == '1'" class="fieldset">
      <span class="text-bold">STEP 1</span>
      <span class="text">Please provide the following information</span>
      <div class="input-container">
        <span class="text-bold">SMS Text Message</span>
        <input
          class="stnd-input"
          type="text"
          formControlName="phone"
          name="phone"
          placeholder="Cell Phone"
        />
      </div>

      <div class="btn-wrapper">
        <button name="prev" class="prev action-button" (click)="previousStep()">
          Back
        </button>
        <button name="next" class="next action-button" (click)="nextStep()">
          Next
        </button>
      </div>
    </fieldset>
  </form>

  <form [formGroup]="confirmStep" class="form-col" id="multistep-form">
    <fieldset *ngIf="formStep == '2'" class="fieldset">
      <h2 class="fs-title">Confirm Details</h2>
      <p class="text">Enter a value for the phone number</p>

      <div class="otp-input-container">
        <!-- OTP INPUT COMPONENT -->
        <app-otp-input
          #input="ngModel"
          [(ngModel)]="otpCode"
          name="otpCode"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>

      <div class="btn-wrapper">
        <button name="prev" class="prev action-button" (click)="previousStep()">
          Back
        </button>
        <button name="next" class="next action-button" (click)="submit()">
          Next
        </button>
      </div>
    </fieldset>
  </form>

  <form [formGroup]="confirmStep" class="form-col" id="multistep-form">
    <fieldset *ngIf="formStep == '3'" class="fieldset">
      <h2 class="fs-title">Complete Details</h2>
      <p class="text">Enter a value for the phone number</p>

      <div class="btn-wrapper">
        <button name="next" class="next action-button" (click)="nextStep()">
          Done
        </button>
      </div>
    </fieldset>
  </form>
</div>
